.wallet-adapter-button.button-style {
	background-color: rgb(223, 141, 74);
}

.wallet-adapter-button.button-style:hover {
	background-color: rgb(221, 110, 19);
}

.nav-font-style {
	background-color: "#5800FF";
	font-weight: "bolder";
	font-size: 20px;
}
.bg-nav-primary {
	background: linear-gradient(to right, rgb(184, 61, 255), rgb(46, 143, 255));
	padding-left: 15px;
	-webkit-background-clip: text;
	background-clip: text;
	-webkit-text-fill-color: transparent;
}
